html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
time,
figure,
article,
nav,
header,
footer,
hgroup,
video,
audio,
aside,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}






.container {
    width: 100%;
}

.top {
    
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
    height: 50%;
}


.top .WorkUnit {
    display: inline-block;
    margin: auto;
    width: 20vw;
    height: 30vw;
    background-color: white;
}
.top .WorkUnit table{
    display: inline-block;
    margin: auto;
    width: 30vw;
    height: 30vw;
}

.top .WorkContent {
    display: inline-block;
    margin: auto;
    width: 50vw;
    height: 30vw;;
    background-color: wheat;
}

.bottom {
    width: 100vw;
    height: 50%;
    background-color: green;
}


.top span {
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;

}







.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #dddddd;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    transition: background-color 0.5s ease;
    cursor:pointer;
  }
  .styled-table td:hover{
    background-color: gray;
  }

  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #dddddd;
  }

  .scrollable{
    height: 100px;
    overflow:scroll;
}

.code{
  display: none;
}